/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General
# Header
# App
# Main, Rooms, Appliance blocks
# Base Appliance Component
# Control Base Component
# Responsiveness
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html, body {
    height: auto;
}

.tac {
    text-align: center;
}

.ui.small.modal {
    width: 400px;
    margin: auto;
    left: 0;
    right: 0;
}

.ui.loader:before {
    border-color: #ccc !important;
}

.ui.loader:after {
    border-color: #21BA45 transparent transparent !important;
}

.ui.loader {
    color: #000 !important;
    text-transform: uppercase;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header {
    padding: 1.5em 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
}

.addblock {
    margin: 15px auto !important;
}

header ~ div{
    margin-top: 160px !important;
}

div[class^="create-"]{
    margin: auto;
}

/*--------------------------------------------------------------
# App
--------------------------------------------------------------*/

.app--title {
    margin: 0;
    color: #2d2;
}

.app--desc {
    font-size: 0.5em;
    vertical-align: middle;
    color: #000;
    font-weight: 600;
}

.rooms--name {
    font-size: 1.25em;
}


/*--------------------------------------------------------------
# Main, Rooms, Appliance blocks
--------------------------------------------------------------*/

.rooms, .appliance, .baseblock {
    position: relative;
    display: block;
    background-color: #53cbf7;
    color: #FFF;
    cursor: pointer;
    padding: 2em 0;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(83, 159, 247, 0.62);
            box-shadow: 5px 5px 2px 0px rgba(83, 159, 247, 0.62);
    -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.rooms:hover, .appliance:hover, .baseblock:hover {
    color: #ffed00;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(255, 237, 0, 0.41);
            box-shadow: 5px 5px 2px 0px rgba(255, 237, 0, 0.41);
}

/*--------------------------------------------------------------
# Control Base Component
--------------------------------------------------------------*/

.appliance-base--title {
    font-size: 1.25em;
}

.appliance-base--status>span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.05em;
}

/*--------------------------------------------------------------
# Base Appliance Component
--------------------------------------------------------------*/

.setup--title {
    font-size: 1.275em;
    text-transform: uppercase;
}

.setup--info {
    font-size: 0.8em;
}

.setup--save {
    margin-top: 1em;
}

.setup--loading {
    margin-top: 1.5em;
}

/*--------------------------------------------------------------
# Temperature Base Appliance
--------------------------------------------------------------*/

.temperatureblock--input {
    margin: 15px 0;
}

/*--------------------------------------------------------------
# Responsiveness
--------------------------------------------------------------*/

@media only screen and (max-width: 767px){
    .right.menu .item:before {
        background: none;
    }
    header {
        padding: 0.25em 0;
    }

    header ~ div{
        margin-top: 130px !important;
    }
}

@media only screen and (max-width: 420px){
    .ui.small.modal {
        width: 95%;
        margin: auto;
        /*left: 50%;*/
        /*right: 50%;*/
    }
}


@media only screen and (max-width: 370px){
    .app--title {
        font-size: 1.5em;
    }
}