/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# General
# App
# Responsiveness
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.container {
    margin: auto;
    max-width: 993px;
}

.tac {
    text-align: center;
}

/*--------------------------------------------------------------
# App
--------------------------------------------------------------*/

.app {
    padding: 1em 0;
}

.app--title {
    margin: 0;
    color: #2d2;
}

.app--desc {
    margin: 3px 0;
    font-weight: 600;
}

/*--------------------------------------------------------------
# Responsiveness
--------------------------------------------------------------*/